:root {
    --body :rgb(47 41 32);
}
.container{
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--body);
}
.protractor{
    width: 300px;
    height: 300px;
    margin: 100px auto;
    border:2px solid red;
    border-radius: 50%;
    /* outline: 5px solid green;outline-offset: 3px; */
    /* border-top-left-radius: 50px;
    border-top-right-radius: 500px; */
    /* border-bottom: 12px solid white; */
    position: relative;
    display:flex ;
    justify-content:center;
    align-items:center ;
    user-select: none;
    font-size: 100%;
}

.protractor::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    /* transform-origin: center; */
    background-color:var(--body);
    z-index: 100;
    border-radius: 50%;
}
.protractor::after{
    content: '';
    width: 114%;
    height: 50%;
    position: absolute;
    /* transform-origin: center; */
    background-color:var(--body);
    top: 55%;
    z-index: 101;
 
}
.line{
    position: absolute;
    width: 55%;
    height: 2px;
    transform-origin: right;
    /* transform: translateY(-20px); */
    background-color: black;
    display: inline-block;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    color: white;
    
}
.thrd{
    position: absolute;
    transform-origin: center;
    transform: rotate(258deg) translate(-21%, -88%);
}
.scnd {
    position: absolute;
    transform-origin: center;
    transform: rotate(258deg) translate(-24%, -64%);
}


/* .line1{
    width: 5px;
   transform: rotate(12deg);
} */
.renk1 {
    background-color: rgb(6, 11, 161) !important;
    transition: all 2.7s;
}
.renk2 {
    background-color: rgb(133, 137, 243) !important;
    transition: all 2.7s;
}
.renk3 {
    background-color: rgb(243, 76, 76) !important;
    transition: all 2.7s;
}
.renk4 {
    background-color: rgb(179, 6, 6) !important;
    transition: all 2.7s;
}
.renk5 {
    background-color: rgb(244, 80, 80) !important;
    transition: all 2.7s;
}

.dene{
    width: 55%;
    height: 2px;
    transform-origin: right;
    position: absolute;
    background-color: blue;
    transition: transform 2s;
    z-index: 105;
    top: 50%;
    right: 50%;
}